.swatches {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* flex: 0 1 100%; */
}

.swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    min-height: 2rem;
    background-color: var(--clr);
}

.swatch:hover {
    z-index: 1;
    transform: scale(1.2);
    cursor: pointer;
}

.swatch:active {
    box-shadow: 0 0 0 3px var(--clr);
}