.swatches {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
}

.swatch {
    flex: 1;
    width: 100%;
    background-color: var(--clr);
}

.swatch:hover {
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1rem var(--clr);
}