.swatches {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
}

.swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    background-color: var(--clr);
}

.swatch:hover {
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 0 5px var(--clr);
    cursor: pointer;
}

.swatch:active {
    box-shadow: 0 0 0 3px var(--clr);
}