.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}

.App>* {
  margin-top: 1rem;
}

.App>button {
  margin: 1rem;
  border: 1px solid;
  border-radius: 0.4em;
  padding: 1em;
  font-size: 1.2rem;
  cursor: pointer;
}

.App>button:active {
  filter: brightness(0.9);
}

.picker-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* For Testing */

/* .picker-container>.picker {
  outline: 1px solid;
} */

/* .picker-container>div {
  flex: 1;
  height: 100px;
  outline: 1px solid;
  background: chartreuse;
} */