.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}

.App>* {
  margin-top: 1rem;
}

.App>button {
  margin: 1rem;
  border: 1px solid;
  border-radius: 0.4em;
  padding: 1em;
  font-size: 1.2rem;
  cursor: pointer;
}

.App>button:active {
  filter: brightness(0.9);
}

.pickers-container {
  display: flex;
  justify-content: space-around;
}

.pickers-container>div {
  flex: 1;
  margin: 0 0.2rem;
}

.preview-color {
  background: var(--clr);
  min-height: 2rem;
}